<h1>Mnemonic</h1>
  <% if logged_in? %>  
    <% if current_user.get_friend_of_the_day %>
        <% random_friend = @friend_of_the_day %>
    
        <p>Add some close friends to stay in touch with <%= link_to 'Here', friends_path %></p>
      <h3>Have you reached out to <%= random_friend.name %> lately?</h3>
        <p>Phone number: <%= random_friend.phone_number%></p>
      <% if random_friend.email != "Not provided" %>
        <p>Email: <%= mail_to "#{random_friend.email}" %></p>
      <% end %>
      <% if @user.phone_number.nil? %>
        <h2>Enter your phone number here to get text reminders!! :) </h2>
      <% else %>
        <h4>You can update your number here if you need to: </h4> 
      <% end %>
    <% else %>
    <h2>Add some close friends to stay in touch with <%= link_to 'Here', friends_path %></h2>
    <% end %>

      <%= form_for @user do |f| %>
        <% if @user.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@user.errors.count, "error") %> prohibited this act from being saved:</h2>
            <ul>
            <% @user.errors.full_messages.each do |message| %>
              <li><%= message %></li>
        <% end %>
            </ul>
          </div>
      <% end %>

        <div class="actions">
        <p>
        <%= f.label :phone_number %><br>
        <%= f.telephone_field :phone_number, placeholder: "+12128888888" %>
        <%= f.submit %>
        </p>
        </div>  
    <% end %>

  <% end %>
