	<h1><%= "People You're Keeping in Touch With:" %></h1>
	<% @user.friends.select(:id, :name).where(close_friend: true).each do |friend| %>
		<p>
		<%= friend.name %>
		<%= form_for friend do |f| %>
			<%= f.hidden_field :close_friend, :value=> false %>
			<%= f.submit "Remove from Close Friends" %>
		</p>
		<% end %>
	<% end %>