<% @user.friends.where(close_friend: false).order(:name).each do |friend| %>
	<div id="normal_friend_<%= friend.id %>", class="normal_friend col-md-4">
	<h4><%= friend.name %></h4>
		<!--Form for Adding to Close Friends -->
			<%= form_for friend, remote: true do |f| %>
				<%= f.hidden_field :close_friend, :value=> true %>
				<%= f.submit "Add to close friends", class: "btn btn-primary btn-xs" %>
			<% end %>
			<%= link_to "Edit Friend", "", class: "edit-friend-button" %> | <%= link_to 'Remove', friend, method: :delete, class: "delete-button", data: { confirm: 'Are you sure you want to delete this friend??' } %>
		<div class= "edit_friend_form">
		<%= render partial: "edit_friend_form", locals: {friend: friend} %>
		</div>  
	</div>
<% end %>			

