<%= render 'navbar' %>
<%= render 'homepage' %>

<div class="container">
	<%= render 'about' %>
	<% if current_user && !current_user.phone_number %>
		<%= render partial: "new_number_form", locals: {user: @user} %>
	<% end %>
</div>

<% if logged_in? %>
<div class="container">
	<section id="page-skills" class="page-skills">
		<div class="friend_page">
			<% if current_user.get_friend_of_the_day %>
				<div class="friend_of_the_day"> 
					<% random_friend = @friend_of_the_day %>
					<h1><%="#{current_user.name.split[0]}, have you reached out to #{random_friend.name} lately?" %>
					</h1>
					<p>Phone number: <%= random_friend.phone_number%></p>
				<% if random_friend.email != "Not provided" %>
						<p>Email: <%= mail_to "#{random_friend.email}" %></p>
				<% end %>
				</div>
			<% end %>
		<% if @user.friends.where(close_friend: true).size > 0 %>
			<div class="close_friends_list full_width">
				<%= render "close_friends_list" %>
			</div>
		<% else %>
			<div class="close_friends_list full_width"></div>
		<% end %>
			<div class="full_width">
				<button class="btn.btn-default" id="show_friends_button">Add Friends You Want To Be Reminded To Keep in Touch With</button>
			</div>
			<div id="normal_friends_list">
					<h3>Or, <%= link_to "Add a New Friend", "", class: "new_friend_button" %></h3>
				<div id="new_friend_form">
					<%= render "new_friend_form" %>
				</div>
					<%= render "friends" %>
			</div>
		</div>
	</section>
</div>
<% end %>