



<!DOCTYPE html>
<html>
<head>
  <title>Mnemonic</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <%= analytics_init if Rails.env.production? %>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="">

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="js/plugins/html5shiv.js"></script>
      <script src="js/plugins/respond.min.js"></script>
    <![endif]-->
    <link href='http://fonts.googleapis.com/css?family=Lato:300' rel='stylesheet' type='text/css'>
</head>

<body>

    <%= yield %>

<footer>Copyright 2014 by <%=link_to "Will Lowry","http://github.com/wlowry88"%>, <%=link_to "Cassidy Pignatello","http://github.com/cassidypignatello"%>, and <%=link_to "Denine Guy","http://github.com/denineguy"%> at the Flatiron School. </footer>
</body>
</html>